[Unit]
Description=GEM Telescope Control Daemon

[Service]
ExecStart=/usr/local/sbin/gem-controld
Restart=always

[Install]
WantedBy=multi-user.target
